[2012-12-03 15:23] FinalAngel opened #1 "admin style breaks module content"
the .module class styles all the inner html. But when using custom html or wysiwygs it also overrides those styles.

.module table td for example adds unrequired padding to the ckeditor.

[2013-01-14 09:48] alesdotio opened #2 "textarea in plugin inlines"
http://cl.ly/image/1E3w1M2Y2f3c

.vLargeTextField, .vXMLLargeTextField { width: 48em; }

[2013-02-05 22:41] KristianOellegaard opened #3 "Use {% static %} for support storage engines"
Hey,

You should consider using `{% static %}` to support alternative storage engines, like Amazon S3, instead of `{{ STATIC_URL }}`. Example: https://github.com/divio/djangocms-admin-style/blob/master/djangocms_admin_style/templates/admin/base_site.html#L6

[2013-02-06 08:04] #3 closed, assigned to nobody

[2013-04-17 15:44] digi604 opened #4 "publishing pages in cms tree view kills node in view"

[2013-08-19 20:02] maartendra opened #6 "ManyToManyField is hardly usable (django-cms v3.0)"
It looks like the two boxes which are used within the default admin have disappeared. It would be nice to have them back, as the current m2m multiselect field is hardly usable (especially with more than, say, 20 options in it):

![screen shot 2013-08-19 at 9 57 40 pm](https://f.cloud.github.com/assets/808271/988852/1c0a5096-090a-11e3-881f-bffef574ce53.png)

Additional: it is mainly because when yo

[2014-02-21 14:48] FinalAngel opened #10 "advanced settings button is not styled"
https://github.com/divio/django-cms/issues/2666

[2014-03-09 23:31] timgraham opened #11 "filter_horizontal/filter_vertical don't look good"
We may want to exclude these boxes from the max-width css rule added in https://github.com/divio/djangocms-admin-style/commit/8739a5cb?

![filter_horizontal](https://f.cloud.github.com/assets/411869/2369651/9866f55a-a7e2-11e3-82d3-8ccd7ec37fa1.png)

[2014-03-10 17:45] FinalAngel opened #12 "Sometimes responsive tree view looking wierd"
see https://github.com/divio/django-cms/issues/2853 as reference

[2014-04-04 09:34] FinalAngel opened #13 "Fix button alignment, find a solution to the absolute positioning"
see: https://github.com/divio/django-cms/issues/3004

[2014-04-22 13:29] ecstaticpeon opened #15 "Indentation introduces by MPTT is lost"
MPTTModelAdmin (0.6.0) indents children using an inline padding-left on the th. However this is overwritten by djangocms-admin-style's CSS (0.2.2) with:

[code]

[2014-09-10 16:24] corpulent opened #19 "NoReverseMatch error with admin action list"
Hi,  when I use the action drop-down list to bulk delete objects in the admin panel,  I get this error.
![screen shot 2014-09-10 at 12 22 11 pm](https://cloud.githubusercontent.com/assets/849403/4221133/e256ce32-3906-11e4-943d-3119cc01d5f8.png)
However,  deleting items individually works.

[2014-09-24 11:31] toasty opened #20 "Django 1.7 Compatibility"
Presumably this is due to template changes in 1.7 but `admin.site.site_header`, `admin.site.site_title` aren't respected when djangocms-admin-style is installed.

https://docs.djangoproject.com/en/dev/ref/contrib/admin/#django.contrib.admin.AdminSite.site_header

[2014-11-11 08:43] barrtin opened #24 "ManyToManyField choices flow out of their box"
![m2m_issue](https://cloud.githubusercontent.com/assets/5197123/4990394/893a694e-698f-11e4-8d07-07db57e539d2.png)

[2014-11-12 10:30] phiychai opened #25 "Make headings more defined"
In projects with a lot of stuff in the admin, it can be difficult to find what you are looking for as headings don't really stand out.

Just my thoughts :)

[2014-11-22 19:26] #20 closed, assigned to nobody

[2014-11-22 19:26] #19 closed, assigned to nobody

[2014-11-22 19:28] #24 closed, assigned to nobody

[2014-11-22 19:32] #15 closed, assigned to FinalAngel

[2014-11-22 19:33] #25 closed, assigned to nobody

[2014-12-02 18:01] jsma opened #31 "Tag 0.2.3 release"
The version was bumped but there isn't a git tag for 0.2.3

[2014-12-02 20:30] #31 closed, assigned to nobody

[2014-12-02 21:35] #11 closed, assigned to FinalAngel

[2014-12-02 21:35] #6 closed, assigned to nobody

[2014-12-21 02:20] jschneier opened #34 "retina screen icons messed up"
Apologies if I'm not doing this right but it appears I'm the first person to use this on a retina screen? This is what the admin looks like for me in an essentially base install. I'm running the latest Yosemite.

![screen shot 2014-12-20 at 9 17 27 pm](https://cloud.githubusercontent.com/assets/2245080/5516966/0604545e-888e-11e4-92dd-43a3b9ba4ae5.png)

[2014-12-22 21:09] #34 closed, assigned to nobody

[2014-12-31 12:16] tvanesse opened #35 "NoReverseMatch exception triggered on object deletion."
Whenever you try to delete an object from the admin with Django 1.7 and Python 2.7, you end up with a `NoReverseMatch` exception raised in

[code]

The traceback says

[code]

and this is related to line 11 of the template which renders the nested menu (depicted below).
![screenshot from 2014-12-31 13 04 31](https://cloud.githubusercontent.com/assets/6845103/5587563/3ae9529c-90ee-11e4-83f9-bb5b04d

[2015-01-10 02:06] acspike commented on #35
I'm also experiencing this problem. Could you share the fix?

[2015-01-10 06:33] yakky commented on #35
This should already have been fixed in #23, available in current version 0.2.5

[2015-01-13 22:07] jschneier opened #36 "select multiple overflowing on chrome on backend"
I've got an m2m field in the admin that is overflowing the container on Chrome (works great on Firefox).

![screen shot 2015-01-13 at 4 59 15 pm](https://cloud.githubusercontent.com/assets/2245080/5730119/a9f33b92-9b45-11e4-983a-d2f8a5ff39b9.png)

I believe the issue is this line: https://github.com/divio/djangocms-admin-style/blob/master/djangocms_admin_style/sass/libs/html5-boilerplate/_styles.s

[2015-01-28 17:40] corpulent opened #37 "Cant override block usertools."
Hi,  I am overriding the `admin/base_site.html` template,  this is my code:

[code]

Everything looks good,  but I cant seem to display the `{% block usertools %}{% include 'admin/inc/usertools.html' %}{% endblock %}` part.

My `usertools.html` looks like this.

[code]

I cant get it to show.  Using Django 1.7  Any ideas?

[2015-01-28 18:08] corpulent commented on #37
Sorry,  resolved,  I was looking at Django 1.8 files.  I ended up overriding Django's `admin/base.html`,  and had `admin/base_site.html` inherit that.  For my need,  I had to remove this conditional https://github.com/django/django/blob/stable/1.7.x/django/contrib/admin/templates/admin/base.html#L27  as some of my users are not staff and have their own admin site.

[2015-01-28 18:08] #37 closed

[2015-02-12 18:10] yakky commented on #36
Please check PR #38

[2015-02-12 18:21] jschneier commented on #36
Awesome!

[2015-03-04 11:19] #36 closed

[2015-03-05 13:40] marksweb opened #39 "Select box spills all of it's options all over the form"
I've got a multiple select field with the max-width set at 240px and the overflow visible.

This is surely an issue as it constrains the select box and then spills out all of it's options in the form?!

![screen shot 2015-03-05 at 13 44 04](https://cloud.githubusercontent.com/assets/1461191/6505812/b0a7895a-c33d-11e4-9bd5-91d74f1b2899.png)

[2015-03-05 13:49] yakky commented on #39
This should have been fixed in #38, still not release, though

[2015-03-05 13:51] marksweb commented on #39
Ah right, I should really of checked the closed issues!

Well, I'll create some overriding stylesheets & keep an eye out for the next release.

[2015-03-05 13:51] #39 closed

[2015-03-05 13:53] yakky commented on #39
no worries :) just as you are it, you can give master a try if it fixes the issue for you

[2015-03-13 10:16] chhantyal opened #40 "Do not add fixed length in form-input"
Currently,
[code]

[2015-03-14 15:26] yakky commented on #40
This is actually intended to keep the interface more consistent. you can override this by using css

[2015-03-14 15:26] #40 closed

[2015-03-14 15:27] yakky commented on #35
@acspike @tvanesse is this still the case using latest version?

[2015-05-30 01:51] mfcovington commented on #36
@yakky Do we have an ETA for v0.2.6 or should I just install from GitHub to fix this issue on my site?

[2015-05-30 08:49] yakky commented on #36
@mfcovington this weekend. Actually this just slipped by and I forgot to push a release :confused:

[2015-05-30 15:34] mfcovington commented on #36
Awesome! Thanks.

[2015-05-30 15:45] yakky commented on #36
Released!

[2015-05-30 16:02] mfcovington commented on #36
@yakky I just installed 0.2.6; however, it looks to be the wrong version as it doesn't contain `form select[multiple] { overflow: auto; width: 100%;  max-width: 240px; }` on line 107 of `djangocms_admin_style/sass/partials/_forms.scss`

[2015-05-31 17:57] yakky commented on #36
@mfcovington bummer. 0.2.7 is out which fixes this for real

[2015-07-03 20:09] jrief opened #43 "Replace compass against libsass"
This app would be a perfect fit to use [django-sass-processor](https://github.com/jrief/django-sass-processor) instead of compass.

@yakky remember, you asked a while ago to allow offsite compilation, so that djangocms-admin-style can be shipped with precompiled ``.css`` files, rather than having them to compile in a productive environment. Well, django-sass-processor can do that now.

If desired,

[2015-07-15 03:58] diramazioni commented on #13
I was trying to fix it using extrastyle template override without success then I've realized that there is a mistake in admin/base_site.html in the order of evaluation and extrastyle doesn't override djangocms-admin.css and should be declared after.
Just switch the two lines and add this extrastyle and the button it's finally aligned!
    {% block extrastyle %}
    .change-list #content-main .obje

[2015-07-15 06:48] FinalAngel commented on #13
thanks @diramazioni hope we can soon implement it :) If you'd like you could also open a Pull Request

[2015-09-14 15:17] kainbacher opened #98 "m2m Field styling"
styling for m2m fields is not so cute.

![bildschirmfoto 2015-09-14 um 17 16 56](https://cloud.githubusercontent.com/assets/593335/9853567/7654f508-5b04-11e5-8941-ae2b699a91b7.png)

[2015-10-09 12:02] lory87 opened #165 "Images for README"
![admin-style-1](https://cloud.githubusercontent.com/assets/2270884/10393456/533bad9c-6e90-11e5-8e01-3ec8a23f0991.png)
![admin-style-3](https://cloud.githubusercontent.com/assets/2270884/10393457/534ff0c2-6e90-11e5-9a08-a4797f9a6a04.png)
![admin-style-2](https://cloud.githubusercontent.com/assets/2270884/10393459/535b49b8-6e90-11e5-9b55-fccba1de870d.png)
![admin-style-4](https://cloud.githubuserco

[2015-10-09 12:35] #165 closed

[2015-10-18 02:07] sveetch opened #191 "SCSS won't compile with Compass >= 1.x"
Since Compass 1.x release comes with a lot of deprecations, this is breaking scss compilation for most project built with Compass 0.x.

If i try to compile djangocms-admin-style scss with my Compass 1.x install it fails with some errors:

[code]

I didn't try to fix it yet, so there is probably more errors to fix.

You should put a notice about that (Scss require Compass 0.x to compile) in your Re

[2015-10-19 14:48] FinalAngel commented on #191
@sveetch the latest develop is using libsass rather then compass. So this issue will be fixed with the next release :)

[2015-10-19 14:48] #191 closed

[2015-10-23 08:59] lory87 commented on #98
@kainbacher Styling for m2m fields are styled and will be in the new release

[2015-10-23 08:59] #98 closed

[2015-10-23 09:00] lory87 commented on #43
@jrief compass is replaced with libsass and will be in the new release

[2015-10-23 09:00] #43 closed

[2015-10-23 09:02] lory87 commented on #10
advance settings button is styled and will be added in the new release

[2015-10-23 09:02] #10 closed

[2015-10-23 09:06] lory87 commented on #13
@diramazioni the button alignment is fixed and will be updated in the new release

[2015-10-23 09:07] #13 closed

[2015-10-23 09:08] lory87 commented on #12
is fixed and will be updated in the new release

[2015-10-23 09:09] #12 closed

[2015-10-23 09:15] lory87 commented on #35
@acspike @tvanesse This issue is fixed and will be updated in the new release

[2015-10-23 09:15] #35 closed

[2015-10-23 15:25] #2 closed

[2015-10-23 15:26] #1 closed

[2015-10-23 15:27] lory87 commented on #4
will be fixed in the new release

[2015-10-23 15:27] #4 closed

[2015-11-04 11:45] randomknowledge opened #209 "Wrong template path in README.rst"
The extrastyle.html path in the readme is wrong:
`templates/admin/extrastyle.html`

The correct path is:
`templates/admin/inc/extrastyle.html`

[2015-11-04 11:51] randomknowledge opened #210 "CMS pages list: wrong retina icon size"
/static/admin/img/icon-no.gif and /static/admin/img/icon-yes.gif are not scaled down to 16px:

![screenshot](https://cloud.githubusercontent.com/assets/152249/10937380/b56f7572-82f2-11e5-98b1-43eaa58f4997.png)

[2015-11-04 12:03] randomknowledge opened #211 "Strange styles in plugin editor"
Hi there!

I see some strange stylings in the plugin editor.
First I don't like the table titles to be uppercased, but that's a matter of opinion of course.

Other than that - can you have a look at the icons near "SlideshowImage object"?
What's the "edit pen" icon for? It's not clickable.

Last point: Too me, nofile_48x48.png (image symbol with questionmark) looks like an error - wouldn't the ico

[2015-11-04 13:37] FinalAngel commented on #209
@lory87 would you be able to check this?

[2015-11-04 13:38] FinalAngel commented on #210
fixed in https://github.com/divio/djangocms-admin-style/pull/214 will be in 1.0.2

[2015-11-04 13:38] #210 closed

[2015-11-04 19:15] #209 closed

[2015-11-05 08:00] lory87 commented on #211
Hi @randomknowledge

Firstly which plugin do you exactly use?

The icon with questionmark is a placeholder if there is no file uploaded. We won't change the icon and the table title styles as well.

Thank you for your feedback.

Regards, Loriana

[2015-11-05 08:21] randomknowledge commented on #211
Hi @lory87,

I use a custom plugin with a TabularInline. The image field is a FilerImageField.
I totally understand that you won't change the icon and the table titles, but can you explain to me what the pen icon is for?

Thanks in advance!
Florian

[2015-11-05 08:40] lory87 commented on #211
@randomknowledge checking and will give you feedback.

[2015-11-05 15:31] lory87 commented on #211
@randomknowledge I removed the widget icons on file and image fields because they are not necessary. You can change the image by clicking again to the magnifier. Will be changed in the next release. Thank you for your feedback.

[2015-11-05 15:37] randomknowledge commented on #211
Thank you @lory87!

[2015-11-05 16:03] #211 closed

[2015-11-05 22:41] jsma opened #221 "Admin header display: none;?"
Just installed 1.0.4 and now have a blank header in the admin. Browser inspection says djangocms-admin.css is `display: none;`-ing both the `#user-tools` and `#header #branding h1`.

<img width="1299" alt="screen shot 2015-11-05 at 2 40 55 pm" src="https://cloud.githubusercontent.com/assets/24574/10984007/3e8f75e0-83cb-11e5-8d2e-c3f294705515.png">

[2015-11-06 09:27] lory87 commented on #221
@jsma which cms version do you have installed?

[2015-11-06 19:36] jsma commented on #221
Ah, that's it. Perhaps a backwards incompatible notice in the CHANGELOG then? Thanks!

[2015-11-07 00:30] itbabu opened #222 "Top right button requires site to be an attribute of request object"
Hi,
I'm looking at the new admin interface. Nice work btw.

The top right button "Open *website name*" requires ```site```  to be an attribute of request object.
I couldn't find any reference in the documentation.
This can be achieved with [```django.contrib.sites.middleware.CurrentSiteMiddleware``` ](https://docs.djangoproject.com/en/1.8/ref/middleware/#django.contrib.sites.middleware.CurrentSite

[2015-11-08 21:26] mfcovington opened #223 "The `filter_vertical` setting is broken. It is horizontal, instead."
I'm upgrading from `djangocms-admin-style==0.2.5` and noticed that the admin's [`filter_vertical`](https://docs.djangoproject.com/en/1.8/ref/contrib/admin/#django.contrib.admin.ModelAdmin.filter_vertical) setting for many-to-many fields is no longer respected.

A vertical filter is actually horizontal in `djangocms-admin-style==1.0.4`:

<img width="966" alt="screen shot 2015-11-08 at 1 23 58 pm" s

[2015-11-08 21:28] mfcovington commented on #223
In the model admin:

[code]

[2015-11-08 21:38] mfcovington commented on #223
As you can see, there is also a `10em` margin on the top of `.selector ul.selector-chooser` which causes the second selector button to be invisible (in Safari on OS X). If I zoom out far enough, the other button comes into view, but the buttons are side-by-side when I think they are intended to be on top of one another:

<img width="960" alt="screen shot 2015-11-08 at 1 36 44 pm" src="https://clou

[2015-11-08 21:49] mfcovington commented on #223
Switching it to `filter_horizontal` brings back the missing button in Safari and the buttons are stacked as expected; however the box sizes are still lopsided and the buttons are pushed down by that top margin and look out of place:

<img width="947" alt="screen shot 2015-11-08 at 1 43 55 pm" src="https://cloud.githubusercontent.com/assets/1494842/11022868/293ec762-861f-11e5-9e09-6667464d84ea.png"

[2015-11-09 07:12] FinalAngel commented on #221
@lory87 can you adapt the changelog to include this specifically?

[2015-11-09 07:16] lory87 commented on #221
@FinalAngel I am already on it.

[2015-11-09 07:32] FinalAngel commented on #222
This is correct, @lory87 we might want to change ``{{ site_header|default:_('example.com') }}`` to ``{{ site_header|default:_('my site') }}``

[2015-11-09 07:33] FinalAngel commented on #223
@mfcovington thank you very much for the extensive testing and feedback, we'll have a look at it today

[2015-11-09 07:42] lory87 commented on #221
@jsma Notice is added to the CHANGELOG and will be on the next release

[2015-11-09 07:42] #221 closed

[2015-11-09 07:55] lory87 commented on #222
@itbabu Thank you. Changed default text and will be fixed on next release

[2015-11-09 07:55] #222 closed

[2015-11-09 09:07] mfcovington commented on #223
@FinalAngel @lory87 Thank you! Please let me know if you need anything else.

[2015-11-09 09:45] lory87 commented on #223
@mfcovington Fixed this issue and will be changed in the next release.

[2015-11-09 09:45] #223 closed

[2015-11-12 14:48] chhantyal opened #234 "inline admin UI is broken"
![screen shot 2015-11-12 at 15 47 17](https://cloud.githubusercontent.com/assets/862941/11121209/d1264864-8954-11e5-8dd3-df32157fdba2.png)

On above screenshot, first field is search field on foreignkey relation

[2015-11-16 10:42] mfcovington opened #240 "Inline change link icon and text overlap"
Hi there. When `show_change_link = True` in an `admin.TabularInline` class, the corresponding change link is styled improperly.

It looks like this:
<img width="101" alt="screen shot 2015-11-16 at 2 28 11 am" src="https://cloud.githubusercontent.com/assets/1494842/11179764/90c662f0-8c0a-11e5-8eb6-8de13ece91bb.png">

It should look like this:
<img width="106" alt="screen shot 2015-11-16 at 2 28 24

[2015-11-18 09:52] lory87 commented on #240
@mfcovington Thank you. Merged your pull request and fix will be in next release

[2015-11-18 09:52] #240 closed

[2015-11-18 09:58] lory87 commented on #234
@chhantyal which plugin are you using?

[2015-11-18 10:40] chhantyal commented on #234
Hi @lory87 Not sure if I got your question. I don't use any plugin.

The above admin is default django inline admin https://docs.djangoproject.com/en/1.8/ref/contrib/admin/#django.contrib.admin.TabularInline

[2015-11-18 13:49] lory87 commented on #234
@chhantyal the issue is fixed and merged to develop. Will be in the next release.

[2015-11-18 13:49] #234 closed

[2015-11-18 15:46] chhantyal commented on #234
Thank you :+1:

[2015-11-18 22:34] mfcovington opened #250 "Re-enabling source maps without worrying about .css file sizes"
I noticed that source map creation has been disabled in `gruntfile.js` due to file size concerns:

    // Sourcemaps are disabled by default to reduce filesize
    // .pipe(sourcemaps.init())
        ...
    // Sourcemaps are disabled by default to reduce filesize
    // .pipe(sourcemaps.write())

Using `sourcemaps.write()` without an argument creates inline source maps within the destination `.cs

[2015-11-20 14:31] nilssolanki opened #258 "Problems upload images"
With djangocms-admin-style, when I open the image upload dialog, the two buttons at the top are not visible anymore (and few more other visual quirks). This is happening in version 1.0.4 and 1.0.6 in django-cms 3.1.3.

<img width="912" alt="bildschirmfoto 2015-11-20 um 15 27 02" src="https://cloud.githubusercontent.com/assets/5477955/11302120/c362dc7c-8f9b-11e5-878a-aa8f804c4f86.png">

[2015-11-20 15:01] lory87 commented on #258
@nilssolanki do you have current django-filer version?
Checking and give you feedback. Will reproduce the bug with your using versions.

[2015-11-20 15:04] nilssolanki commented on #258
Thank you for your quick response. The django-filer is version is 0.9.12.

[2015-11-20 15:57] lory87 commented on #258
@nilssolanki could you please upgrade to 1.0.2 because there were some template changes which are necessary for the new django admin styles

[2015-11-23 08:23] FinalAngel commented on #250
@mfcovington thanks for the hint. We might actually want to port the implementation from django-cms: https://github.com/divio/django-cms/blob/develop/gulpfile.js#L96 where, when provided with the ``--debug`` flag, the sourcemaps get generated. We probably do not want to ship a release with sourcemap or debug information.

[2015-11-23 10:56] lory87 commented on #250
@mfcovington I implemented the debug option and merged to master. Changes will be on the next release.

[2015-11-23 12:48] #250 closed

[2015-11-23 14:59] #258 closed

[2015-11-24 15:26] vapask opened #260 "admin filters is not usable when there is a lot of variants"
For example if there is filter by FK to model with on hundred or more elements

[2015-11-25 08:29] lory87 commented on #260
Hi @vapask
Can you please provide us an example or any screenshots that we could easier reproduce the problem?
Thank you.

[2015-11-26 10:16] vapask commented on #260
there are too many options on the page:
![example](https://cloud.githubusercontent.com/assets/797930/11420517/9b32ea1e-943f-11e5-8fff-513315766494.png)

I think it should be possible to collapse this block

[2015-11-26 10:26] FinalAngel commented on #260
@vapask isn't that the normal behaviour of the Django admin in general when defining that many filters?

[2015-11-26 11:04] vapask commented on #260
@FinalAngel Ok, my bad, I forgot about django default behaviour. I've just moved project from cms 2.4 with suit to 3.2 with admin-styles. Nevertheless there is beautiful solution of this problem in django-suit(dropdowns):
![5bd7502364](https://cloud.githubusercontent.com/assets/797930/11421523/8076b6f4-9446-11e5-8e96-44fbb5a557aa.jpg)

[2015-11-26 12:30] FinalAngel commented on #260
@vapask no problem, absolutely not your fault! Our efforts in djangocms-admin-style go as far as adapting the css. We do not want to touch the django default templates. However we could probably add scrolling on large filters using ``max-height`` eventually. Is that something you can digg into @lory87 ?

[2015-11-26 12:36] lory87 commented on #260
@FinalAngel and @vapask I'm going to add a max height. Will inform you when it's done.

[2015-11-26 16:01] treavis opened #264 "Translation for {% trans 'Open' %} in 'djangocms_admin_style/templates/admin/inc/branding.html'"
There is no translation for {% trans 'Open' %} in Transifex - Django - admin project.
From 'djangocms_admin_style/templates/admin/inc/branding.html' - line 27

[2015-11-26 16:07] treavis commented on #264
also {{ request.site.name|default:_('my site') }}

[2015-11-26 16:20] lory87 commented on #260
@vapask I added a max height. The change will be in the next release.

[2015-11-26 16:20] #260 closed

[2015-11-27 07:49] vapask commented on #260
@lory87 thank you very much

[2015-12-02 09:48] FinalAngel commented on #264
Has been fixed in https://github.com/divio/djangocms-admin-style/pull/266

@mkoistinen can you confirm and close?

[2015-12-02 11:26] treavis commented on #264
:+1:

[2015-12-02 11:26] #264 closed

[2015-12-04 16:48] sedrubal opened #268 "id_username has no background color"
I have a dark system theme and so all text boxes in websites are dark too. As `#id_username` on the login page has no style (or at least no background colour) the text is black on dark, as you can see in the screenshot:

![djangocms_login](https://cloud.githubusercontent.com/assets/5571650/11595200/82f6d5ee-9aae-11e5-93d7-713adc92c809.png)

[2015-12-04 17:02] sephii opened #270 "Big tables & filters appear strangely"
As you can see in the following screenshot the table gets 2 inner scrollbars, while the filters part gets another vertical scrollbar, and the whole page also has a (disabled) scrollbar.

![2015-12-04-175758_1588x790_scrot](https://cloud.githubusercontent.com/assets/754333/11595672/e09ce83a-9ab0-11e5-9007-80c4b0a0f4a9.jpg)

I think this is quite confusing. Wouldn't there be a better way of displayi

[2015-12-04 17:06] FinalAngel commented on #270
@sephii the filter gets limited for a certain height, otherwise parts might be cut off when to large and on overflow mode.

The horizontal line on your data is also valid, as tables have limited space as well. Yet the vertical scrollbar is curious. Might I ask what system / browser / cms/django version you are using?

[2015-12-04 17:13] sephii commented on #270
Browser is Iceweasel (Firefox) 38.2.1, DjangoCMS 3.2.0, Django 1.8.7 and django-admin-style 1.0.7. The issue also appears on Chromium 46.0.

[2015-12-07 13:43] #268 closed

[2015-12-07 14:28] lory87 commented on #268
@sedrubal form fields are reseted and will be on next release.

[2015-12-07 14:29] sedrubal commented on #268
:+1: great. Do you reset all form fields or just the login forms?

[2015-12-07 14:30] lory87 commented on #268
@sedrubal all fields. Please let me know if there is something missing.

[2015-12-07 16:25] lory87 commented on #270
@sephii The vertical scrollbar on list is removed and will be in the next release.

[2015-12-07 16:25] #270 closed

[2015-12-07 18:50] sephii commented on #270
Thanks!

[2015-12-08 00:54] sedrubal commented on #268
Ah thank you @lory87 . Now I saw the commits... I'll report back, if I find something missing... Thx.

[2015-12-10 02:58] jsma opened #275 "List display issues if no admin actions"
Here is what the display looks like with admin actions enabled:

![screen shot 2015-12-09 at 6 30 05 pm](https://cloud.githubusercontent.com/assets/24574/11705686/978b7c48-9ea6-11e5-8b3d-a52ab2219910.png)

Here's what it looks like with `actions = None`:

![screen shot 2015-12-09 at 6 30 26 pm](https://cloud.githubusercontent.com/assets/24574/11705691/a35b20e6-9ea6-11e5-8f47-52f162c383ae.png)

The

[2015-12-10 08:23] FinalAngel commented on #275
@jsma thanks for the report, will have a look at it :)

[2015-12-18 14:42] jakob-o opened #277 "Filer clear icon too big"
EDIT: My proposed solution does not work, the "nofile" image / icon is too big then.

Hey,

I am having trouble with the clear icon size of the filer image. When removing the image size it looks good, but I am not sure if this is the correct way to fix it.

Thank you in advance

Jakob

Versions
[code]

Screenshots

![filer_problem_01](https://cloud.githubusercontent.com/assets/1359384/11899176/957

[2015-12-21 10:32] FinalAngel opened #278 "Lists are cut off at a certain height"
![image](https://cloud.githubusercontent.com/assets/270307/11928756/5123f1ca-a7d6-11e5-96b0-0ee083883f7f.png)

Full list should be available.

[2015-12-21 10:33] FinalAngel opened #279 "Align text after break line"
![image](https://cloud.githubusercontent.com/assets/270307/11928793/8fef7ca8-a7d6-11e5-9f69-a3dcc67f555f.png)

Text should have the same indent as "A new...".

[2016-01-04 14:15] #279 closed

[2016-01-04 15:19] lory87 commented on #277
Hi @jakob-o

This issue is already fixed but not released yet. You will find the changes on master.
https://github.com/divio/djangocms-admin-style/blob/master/CHANGELOG.rst

[2016-01-04 15:19] #277 closed

[2016-01-04 16:10] #278 closed

[2016-01-05 08:03] lory87 commented on #275
Hi @jsma
I fixed the issue if no actions are visible and it will be in the next release.

[2016-01-05 08:03] #275 closed

[2016-01-05 10:03] jakob-o commented on #277
Hi @lory87 ,
and thank you very much. Do you have an estimation when the next release is scheduled? As far as I can see there are no open issues anymore.

Regards

Jakob

[2016-01-05 10:27] lory87 commented on #277
Hi @jakob-o

There will be a new release in the next days.

Regards, Lory

[2016-02-01 08:19] JoeJasinski opened #296 "Djangocms Admin Style search box CSS broken with Django 1.9 and djangocms-admin-style==1.0.9"
Hi all,

I recently upgraded to Django 1.9 and DjangoCMS 3.2.1.  I also updated djangocms-admin-style to the latest current version, 1.0.9.  Upon doing so, the search bar in the admin interface breaks for all instances where search_fields is set in the ModelAdmin.  I'm not able to click on the search box to make it active, and it appears broken in the layout.   I have reproduced this in Firefox (4

[2016-02-01 08:31] FinalAngel commented on #296
Hello @JoeJasinski, thanks for the report. We have already addressed the issues related to Django 1.9 (https://github.com/divio/djangocms-admin-style/blob/master/CHANGELOG.rst#110-unreleased) and will release them shortly (today).

[2016-02-01 14:25] FinalAngel commented on #296
Has been released just now :)

[2016-02-01 14:25] #296 closed

[2016-02-01 17:09] imagescape commented on #296
Awesome, thank you!

[2016-02-01 17:11] JoeJasinski commented on #296
Thank you!

[2016-02-04 23:01] jbazik opened #298 "horizontal fields in site admin"
In an app that coexists with django-cms on my site, the admin declares:

 fieldsets = (
        (None, {
            'fields': (('shortname', 'published', 'notfeature'),),
        }),
...

I get
![got](https://cloud.githubusercontent.com/assets/533519/12832481/469fca8e-cb68-11e5-822b-24794a1d4c05.png)

I want
![want](https://cloud.githubusercontent.com/assets/533519/12832490/53fa93bc-cb68-11e5-9cc

[2016-02-08 07:35] FinalAngel commented on #298
@jbazik thanks for your report. This looks in general good to me as we changed all forms in djangocms-admin-style to be underneath. This would also be the standard case for mobile.

[2016-02-09 03:04] jbazik commented on #298
Well, no, I don't agree.  When I write a django app, I have the option to make my admin forms more compact by grouping fields so they are presented horizontally:

https://docs.djangoproject.com/en/1.9/ref/contrib/admin/#django.contrib.admin.ModelAdmin.fields

It's possible to restyle the admin without taking away this option.  It does not affect rendering on mobile devices because a float will wra

[2016-02-09 11:20] FinalAngel commented on #298
@jbazik we would have to have a closer look. Though cannot promise you to fix this in the coming weeks. I'll add it to our backlog.

[2016-02-19 02:23] vivazzi commented on #298
I'm agree with @jbazik . djangocms-admin-style break django horizontally view. Horizontally view is more comfortable in many cases. For example:
Big:
![long](https://cloud.githubusercontent.com/assets/11954799/13164714/0dd19c68-d6ea-11e5-86e9-16134f9d0337.png)

Compact:
![short](https://cloud.githubusercontent.com/assets/11954799/13164619/405cb18c-d6e9-11e5-8e55-a87e7aff41e5.png)

As solve, I can

[2016-02-19 02:28] vivazzi opened #299 "Big margin top between many to many horizontal view in mobile"
![margin](https://cloud.githubusercontent.com/assets/11954799/13164857/f444e754-d6ea-11e5-8d97-f57d6039c96a.png)

As solve, add:
[code]

[2016-02-19 03:38] vivazzi opened #300 "Add ability to make dropdown filter menu"
I think, good idea is to have option to make dropdown filter menu as django-cms page list:
![default](https://cloud.githubusercontent.com/assets/11954799/13165858/21299efa-d6f4-11e5-817d-8d8545c16aa5.png)

Option may be like that:
[code]

[2016-02-19 15:27] Treverix commented on #298
I vote for horizontal alignment too.

This is how our admin looks like after the upgrade of djangocms-admin-style:
![image](https://cloud.githubusercontent.com/assets/1685275/13179650/1a2b91a4-d725-11e5-86c7-13ee02e27670.png)

And this is how it looked before.
![image](https://cloud.githubusercontent.com/assets/1685275/13179734/82eeb234-d725-11e5-8fed-5248a74e099b.png)

Now we have to downgrade to

[2016-02-20 00:01] vivazzi commented on #298
@Treverix you can add some fixes to not downgrade:
[code]

[2016-02-20 14:14] Treverix commented on #298
@vivazzi it doesn't work at all. Played with your suggestion - based on V1.1.0 - and label, input field and buttons are always on three lines. There is no class '.field-box', but I guess this is the class for attribute fictional 'box' and I replace it so that it matches real attributes, right?

[2016-02-20 23:48] vivazzi commented on #298
@Treverix my suggestion works for me in the following way:
1 - Put base.html to your spicific app for example:
[code]
* the adding of css file to block blockbots as variant

2 - Add your specific app to INSTALLED_APPS before 'djangocms_admin_style'
[code]
3 - Create your theming.css:
[code]

[2016-02-22 06:21] Treverix commented on #298
Sorry, should have explained more precisely: I've add your suggested css styles with google devTools directly on the div with classes 'form-row form-myfield' (form-box in your example) and made sure, the 3 styles are active (not overriden by some !important styles). And that changed nothing on the layout.
Tried this with version 1.10 of admin style.

I was able to save some other problems, though.

[2016-02-29 09:21] lory87 commented on #298
@jbazik, @Treverix, @vivazzi We are working on this issue and will let you know when we are going to release some changes

[2016-02-29 09:22] lory87 commented on #299
@vivazzi This issue is fixed, merged to master and will be in the next release

[2016-02-29 09:22] #299 closed

[2016-02-29 09:40] lory87 commented on #300
@vivazzi we will have a look and will let you know if there are some changes.

[2016-03-02 08:53] radiac opened #303 "Input line height issue in linux"
Under certain conditions (eg Ubuntu using fallback font Verdana), the line height (12px) for input and select elements can be too low for the font size (12px), causing descenders and underscores to be cropped by the padding:

![example](https://cloud.githubusercontent.com/assets/241712/13455090/36b4d240-e053-11e5-9c51-47a68e5205fa.png)

120% line height should resolve this, which would be 14.4px,

[2016-03-05 21:38] tom-mi commented on #298
+1 for a style closer to the original django admin. Just compare this
![django_admin_broken](https://cloud.githubusercontent.com/assets/3297149/13550400/2f4ee64a-e31d-11e5-803e-846e13d6dd5a.png)
to the clarity and compactness of the original django admin gui:
![django_admin](https://cloud.githubusercontent.com/assets/3297149/13550410/8fe53e82-e31d-11e5-8b73-6b7c8e19785c.png)
IMHO the extra buttons

[2016-03-07 11:33] stefanfoulis opened #305 "cleanup static file locations"
static files should be all namespaced inside a app folder inside ``static``. Anything placed directly in ``static`` might clash with other static assets of the project.

So all djangocms-admin-style staticfiles should be in ``static/djangocms_admin_style/``. Of course with the exception of static files that are overridden for other apps.

- [ ] [``static/js``](https://github.com/divio/djangocms-ad

[2016-03-11 09:39] Treverix opened #306 "Support of django versions"
I recommend that you make it more clear that V1.10 is not compatible with older versions of django anymore. It really needs django 1.9 - at least the admin styles of django 1.9. Otherwise the change forms don't really look well (submit row, inlines)

Workaround for django 1.8: from django 1.9, copy `forms.css` to your local `static/admin/css` folder (create, if not existing yet) and fix the style

[2016-03-16 13:36] mikek commented on #300
@vivazzi, It is not completely clear what feature do you want to be implemented in this application. Can you, please provide an example?
We are revisiting the filter and search functionality in 3.3 to make it more user friendly, though. So you might be interested in those changes in the [django CMS repository](https://github.com/divio/django-cms) itself.

[2016-03-23 17:23] benzkji opened #307 "add "djangocms-admin-style" class to html tag"
when maintaining a third party django app, it can be difficult to support both django vanilla admin and djangocms-admin-style admin. adding a specific class to the html tag could resolve this situation, app maintainers could easily target their CSS to admin-style mode or vanilla mode.

it may also reduce the need to use !important, for admin-style itself?

[2016-03-28 16:14] miraculixx opened #308 "ability to change a user's password"
currently it appears that a user's password is displayed without a possibility to change it (no link to the password change page as in the standard admin). Is there some option to enable this?

[2016-03-29 08:03] FinalAngel commented on #308
+1 @lory87 can we add this entry to the "Django administration" dropdown?

[2016-03-29 08:05] lory87 commented on #308
@FinalAngel yes sure will inform you @miraculixx when it is added to the dropdown.

[2016-04-01 06:24] FinalAngel commented on #308
@miraculixx this should already be the case:
![image](https://cloud.githubusercontent.com/assets/270307/14199257/15525d46-f7e3-11e5-98fb-efe7b52a94ca.png)

/cc @lory87

[2016-04-01 08:40] miraculixx commented on #308
@FinalAngel I meant this link for an admin to change _any_ user's password:

![image](https://cloud.githubusercontent.com/assets/859611/14202050/1a3f0e90-f7f6-11e5-8316-427fea6e3ce3.png)

[2016-04-01 12:48] FinalAngel commented on #308
@miraculixx this is still present in the current implementation, no change there:
![image](https://cloud.githubusercontent.com/assets/270307/14207196/da97983e-f818-11e5-9fb3-fdcb67d9e907.png)

[2016-04-04 11:30] vxsx opened #310 "Maximized ckeditor toolbar is overlapped by toolbar"
originally reported here http://stackoverflow.com/questions/36266946/when-i-maximize-the-ckeditor-window-the-ckeditor-toolbar-is-partially-hidden-un?

[2016-04-05 07:27] lory87 commented on #298
@jbazik, @Treverix, @vivazzi and @tom-mi We changed the width of the form fields back that they are not anymore full-width if they are grouped. The changes are merged to master branch.

Thank you for your feedback.

[2016-04-05 07:48] lory87 commented on #305
@stefanfoulis filer icons are removed and js moved to static/djangocms_admin_style

[2016-04-05 07:48] #305 closed

[2016-04-09 12:56] #310 closed

[2016-04-09 12:56] vxsx commented on #310
fixed by #314

[2016-04-11 11:23] vstoykov opened #317 "Bug: cant't return from CKEditor's "Maximize""
When `maximize` button on CKEditor is clicked then Header bar is hiding top row of the CKEditor toolbar and now is unable to return from "maximized" state.

The issue is caused by the very large z-index of the `#header`. Now it is `9999` (https://github.com/divio/djangocms-admin-style/blob/master/djangocms_admin_style/sass/components/_header.scss#L19).
If it is reduced to `999` it's working.

If b

[2016-04-11 11:38] vstoykov commented on #317
Sorry I just saw that it is fixed in master.

[2016-04-11 11:38] #317 closed

[2016-04-11 11:50] vstoykov commented on #298
@lory87 I tested master branch and when I group fields in admin like that:

    fields = [
        ('field1', 'field2'),
        'field3,
    ]

everything works as in vanilla django, but what about datetime fields as shown by @Treverix, or even the screenshot shown by @tom-mi ?

Probably this is different issue from the initially reported by @jbazik but split fields (like datetime field) and all

[2016-04-12 14:30] #307 closed

[2016-04-12 14:32] FinalAngel commented on #308
gentle ping @miraculixx is it the first or second case?

[2016-04-12 14:46] lory87 commented on #303
@radiac this issue is fixed and merged to master. Change will be in next release

[2016-04-12 14:46] #303 closed

[2016-04-12 18:38] miraculixx commented on #308
@FinalAngel thanks for the ping. I must have confused the two cases, as indeed as per your screenshot it works for the general admin - so indeed, I meant the second case. I'll consider opening an issue with CMS. Thanks for clearing things up.

[2016-04-12 18:38] #308 closed

[2016-04-13 06:59] lory87 commented on #306
@Treverix can you provide us please a screenshot how submit row looks like? Thank you in advance.

[2016-04-13 07:02] lory87 commented on #300
gentle ping @vivazzi. Can you provide us an example? Or is the Issue fixed in 3.3 (django CMS repository). Thank you for your feedback in advance.

[2016-04-13 07:17] lory87 commented on #298
@vstoykov thank you for your feedback. I changed position of date and calendar pickers and of additional buttons (edit, add) too. Changes are on master and will be in next release.

[2016-04-13 07:17] #298 closed

[2016-04-13 07:50] vivazzi commented on #300
@mikek, @lory87 I suggest add dropdown filter as django cms has for structure of page list. I try to describe my suggestion in pictures.
Now:
![before](https://cloud.githubusercontent.com/assets/11954799/14486177/2fe80070-018e-11e6-9618-83fcd77dbb79.png)
That is I suggest:
![after](https://cloud.githubusercontent.com/assets/11954799/14486194/3b9434c0-018e-11e6-9928-c9591e6e7781.png)
In other words

[2016-04-13 10:06] FinalAngel commented on #300
@vivazzi the filter will be changed in django CMS to be implemented via the search element for the page tree: https://github.com/divio/django-cms/pull/5134

However, we cannot add an option to make the filter menu hovering over the content. This is Django default behaviour and probably needs a proposal on the Django Admin itself. djangocms-admin-style is only overriding styles and not providing ad

[2016-04-13 10:06] #300 closed

[2016-04-14 16:01] PamelaM opened #321 "static/filer/icons/file_32x32.png is replaced with a 64x64.png image"
When we include djangocms_admin_style and run collectstatic, the static/filer/icons/file_32x32.png is updated.  However, the icon that gets created is actually 64x64!  I'm not familiar enough with this project's setup/build process to identify where in the pipeline the incorrect image is being generated.

Also, why does djangocms_admin_style overwrite static/filer/icons at all?  Those icons are us

[2016-04-14 16:05] PamelaM commented on #321
It appears that this problem has been addressed in master.  I expect that this issue can be just closed or even deleted.

[2016-04-15 06:06] FinalAngel commented on #321
Thanks @PamelaM for the report. Is it already fixed with 1.1.0 for you or just the latest master branch?

[2016-04-18 08:36] lory87 commented on #321
@PamelaM this issue is already fixed in master branch.

[2016-04-18 08:36] #321 closed

[2016-04-18 08:38] lory87 commented on #306
gentle ping @Treverix can you provide us a screenshot please?

[2016-04-18 09:22] Treverix commented on #306
Sorry, here's the pong :)

This screenshot shows how v1.10 looks on django 1.8x on my machine. It shows an inline and the submit row.

![image](https://cloud.githubusercontent.com/assets/1685275/14599430/8cda0054-0557-11e6-878d-dbbb6287ab57.png)

[2016-04-18 09:51] lory87 commented on #306
@Treverix thank you for your screenshot. I tested it as well with an inline app, django version 1.8.8 and djangocms-admin-style 1.1.0. It looks nice. I enclosed a screenshot as well and I can't reproduce. Can you please provide me your pip freeze to get more details?

![screen shot 2016-04-18 at 11 47 58](https://cloud.githubusercontent.com/assets/2270884/14600235/dd91f9d0-055b-11e6-83af-57b95c0e7

[2016-04-18 10:19] Treverix commented on #306
I've just upgraded from 1.8.6 to 1.8.8. hoping that would already solve the issue, but unfortunately not. Here is one more screenshot, with dev tools open. forms.css is the one from django itself. I double-checked that 'djangocms_admin_style' is just before 'django.contrib.admin' in the INSTALLED_APPS section.

The pip freeze is added as a file.

![image](https://cloud.githubusercontent.com/assets

[2016-04-18 11:14] lory87 commented on #306
@Treverix thank you for your infos. I pushed some changes to master branch. Can you please check if the issue still appears?

[2016-04-18 15:09] Treverix commented on #306
Here's what it looks now. The remaining issue is the inline :) It wasn't part of the issue - but I think, it's not expected like this:

![image](https://cloud.githubusercontent.com/assets/1685275/14609021/576f0d84-0588-11e6-86de-d0aa4f0f0caa.png)

[2016-04-18 15:14] lory87 commented on #306
@Treverix I see that submit row is fixed and looks nice now. Inline-groups are not expected to work like this. They should not be wrapped with submit-row.

[2016-04-18 15:28] Treverix commented on #306
They are not wrapped. This is just a 'simple' changeview with some inlines. Like this one - which ist from a different model but it looks the same:

[code]

[2016-04-18 15:42] lory87 commented on #306
@Treverix can you provide me a html snippet that I can reproduce on which element this borders are?

[2016-04-18 15:51] Treverix commented on #306
Here you go. It's class inline-group. Make border !important on your class for a quick fix :)

![image](https://cloud.githubusercontent.com/assets/1685275/14610434/37a20c08-058e-11e6-835d-364403dcaccf.png)

[2016-04-18 15:56] lory87 commented on #306
@Treverix Thank you very much. Pushed some changes to master branch. Thank you for your feedback.

[2016-04-19 09:20] lory87 commented on #306
@Treverix Can I close this issue?

[2016-04-19 09:38] Treverix commented on #306
Yes, fine with me :) I hope it still works with django 1.9.x, because the root cause was that they changed some styles. So I wait for the next release of this app.

[2016-04-19 09:50] lory87 commented on #306
@Treverix Great thanks for your feedback. We will soon do a release.

[2016-04-19 09:50] #306 closed

[2016-04-19 20:44] PamelaM commented on #321
Any idea when 1.1.1 will be created and moved to pypi?

[2016-04-20 05:47] lory87 commented on #321
@PamelaM expected, we will do a release this week

[2016-04-22 12:05] vldy opened #330 "Required field error style"
Can you make the massages for the errors more understandable. Right now it is a little confusing which field is required(top or bottom).
![screenshot from 2016-04-22 14 50 01](https://cloud.githubusercontent.com/assets/6543184/14740909/23711d4a-089b-11e6-8dba-64b5fc6d4593.png)

Without django-admin-style:
![screenshot from 2016-04-22 15 00 19](https://cloud.githubusercontent.com/assets/6543184/147

[2016-04-22 12:41] lory87 commented on #330
@vldy thank you for your indication. We added an highlighted are. Changes are merged to master. Release will be coming soon.

[2016-04-22 12:41] #330 closed

[2016-04-28 08:22] Treverix commented on #306
Thanks for the release!! It solved a lot of problems we had with the style. Looks great now!

[2016-04-28 09:15] FinalAngel commented on #306
you are very welcome @Treverix thanks goes to @lory87

[2016-04-30 12:39] Nekmo opened #336 "Avoiding use of !Important"
I'm trying to integrate some bootstrap elements in the Admin and DjangoCMS theme is giving me problems.

![amazon_xenoblade10](https://cloud.githubusercontent.com/assets/740106/14935844/a8cec14a-0ee0-11e6-8d11-f6f6f0d76767.png)

Some examples:

[code]

And more. I think using !Important is a bad idea.

Thanks!

[2016-04-30 22:04] lory87 commented on #336
Hi @Nekmo
Thank you for your feedback. We are aware of this issue and we are working on a cleanup. Will let you know when we are done with the changes.

[2016-05-17 22:26] radiac commented on #336
On a related note because the djangocms admin styles are added in the `{% block extrahead %}`, you can't override them from the `{% block extrastyle %}` as it comes before. Obviously it's something you can work around once you realise the problem, but may be helpful to move the `djangocms-admin.css` link before the `extrastyle` include to avoid confusion.

[2016-05-18 06:10] FinalAngel commented on #336
@vxsx something to consider for the next release?

[2016-05-20 23:27] czpython opened #341 "Page title not very visible when showing error message"
Create a page called Blog with slug blog
Now create a page called Blog2 with slug blog2
Change Blog2 page to have slug "blog".

![djangocms-admin-style-bug1](https://cloud.githubusercontent.com/assets/994951/15444615/acf4cb08-1ec0-11e6-9cb3-a31533283a7f.png)

Not a regression, seems like this is around since 3.2
/cc @vxsx @lory87

[2016-05-23 08:58] #341 closed

[2016-06-06 09:41] evenicoulddoit commented on #336
I was literally about to make the exact same issue as this.
The [changes since 1.9 support](https://github.com/divio/djangocms-admin-style/compare/3557d06f5fa48ee73cb1158abf4ef4cd5fd0f4a8...a1d4b80c8066b67438b255026f0d4290bd3df825) has made overriding the styles (e.g. to add select2 support) really difficult.

[2016-06-14 11:38] marksweb commented on #336
On a related note to the `!important` styles, the `width: calc(100% - 112px)!important` on date fields and the `max-width: none !important` that effects select boxes make inputs look pretty hideous.

![screen shot 2016-06-14 at 12 35 52](https://cloud.githubusercontent.com/assets/1461191/16041334/a5fb482a-322c-11e6-98e2-f8ba49dc8a62.png)

Is there a reason they've got these attributes? Could the d

[2016-06-14 12:14] FinalAngel commented on #336
@marksweb creating the styles to reformat the admin is in general a beast. We just recently added integration tests that automatically create screenshots (you have to consider differences in django 1.8 and 1.9) plus changes can affect multiple addons differently.

We are keeping an eye on it, though our resources are a bit limited for the next weeks. I'd welcome help on improving / extending the t

[2016-06-14 12:29] marksweb commented on #336
@FinalAngel of course, sorry, my comment wasn't very sympathetic to the considerable job this is, was it!?

I'm not sure I'll get any input from our design team, but I might fork the repo & tweak a few bits with a stylesheet override. That way if I get anything worthwhile changed, you could take a look.

How are you running the screenshot based tests? It's been on the backburner for me for a littl

[2016-06-14 12:59] FinalAngel commented on #336
@marksweb no offends taken, just a general feedback :)

The screenshot integration tests run with Docker and the Makefile: https://github.com/divio/djangocms-admin-style#integration-tests

Simply run ``make run18`` and then ``make test18``. The same is available for Django 1.9. The best practice there would be, to create more tests in https://github.com/divio/djangocms-admin-style/tree/master/scre

[2016-06-17 00:34] jsma opened #349 "Calendar next/previous links are invisible"
The shortcut links `<` and `>` on the calendar widget are invisible.

<img width="333" alt="screen shot 2016-06-16 at 5 04 07 pm" src="https://cloud.githubusercontent.com/assets/24574/16137026/699da65c-33e4-11e6-893b-654f3d20faed.png">

Technically, the top left and right corners of the widget are still clickable, but since the editors can't see them, they assume they don't exist, leading to frust

[2016-06-17 06:49] FinalAngel commented on #349
thank you for the report @jsma . Any chance you could create a PR to fix this?

[2016-06-17 18:47] jsma commented on #349
Django's [widgets.css](https://github.com/django/django/blob/master/django/contrib/admin/static/admin/css/widgets.css#L476) applies `text-indent: -9999px;` to the prev/next links. If I disable this style in Chrome dev tools, the arrows reappear (but the alignment is off a bit).

<img width="589" alt="screen shot 2016-06-17 at 11 45 29 am" src="https://cloud.githubusercontent.com/assets/24574/16161

[2016-06-20 06:29] FinalAngel commented on #349
thank you @jsma we'll have a look then :)

[2016-06-20 13:25] FinalAngel commented on #349
@jsma I just had a look and in latest master it looks correctly:

![image](https://cloud.githubusercontent.com/assets/270307/16195675/0406c48a-36fb-11e6-8e4f-c62f92735818.png)

Did you check it out with the latest master Version?

[2016-06-20 16:21] jsma commented on #349
Yes, I just installed via `pip install git+https://github.com/divio/djangocms-admin-style.git` and the issue persists. I've also confirmed that my browser is loading the CSS from this install, and not any cached versions. I should also note I'm on Django==1.9.7.

[2016-06-20 16:23] FinalAngel commented on #349
ah I haven't tried Django 1.9 yet, will do that then :) thanks @jsma

[2016-06-22 08:24] FinalAngel commented on #349
Closed in the latest master @jsma thanks to @lory87 . Will be released this week :)

[2016-06-22 08:24] #349 closed

[2016-06-24 13:45] vstoykov opened #354 "String representation of the model use too much space in TabularInline"
When String representation of an object is a little bit longer and TabularInline is used then a lot of space is wasted and become a problem for small monitors and devices.

This is how it looks in Django's normal admin:
![django_tabular_inline_django1 8](https://cloud.githubusercontent.com/assets/902381/16339306/9d3d0ccc-3a2a-11e6-95de-32636fbd4f81.png)

This is how it looks with the new Flat them

[2016-06-24 13:56] FinalAngel commented on #354
thanks for the feedback! @vstoykov would you be able to propose a PR fix?

[2016-06-27 07:28] vstoykov commented on #354
I'm better at backend and not so good at frontend. But from what I saw styles for all tables are mixed here probably for DRY but this cause a lot of conflicts especially with the large usage of `!important`.

In order this to be fixed cleanly I think that a lot of stuff need to be changed in `https://github.com/divio/djangocms-admin-style/blob/master/djangocms_admin_style/sass/components/_tables.s

[2016-06-27 11:13] vstoykov opened #355 "Regression in Stacked inline in djangocms-admin-style==1.2.3"
After upgrade to djangocms-admin-style==1.2.3 StackedInline is not full width anymore.

Before (1.2.2)

![djangocms-admin-style-before-regression-stackedinline](https://cloud.githubusercontent.com/assets/902381/16377855/19b802fa-3c71-11e6-9edd-2125bf402c47.png)

After (1.2.3)

![djangocms-adminstyle-regression-stackedinline](https://cloud.githubusercontent.com/assets/902381/16377858/1eb99e80-3c71-

[2016-06-27 11:18] vstoykov commented on #355
I bisected the changes and found that the reason is in this commit https://github.com/divio/djangocms-admin-style/commit/a5a4b50770820ce78d12bc67c3fc3de0ca73cd43

Probably settings the width for particular case need to be done without `!important`

[2016-06-27 12:24] lory87 commented on #355
https://github.com/divio/djangocms-admin-style/pull/356

[2016-06-27 12:28] lory87 commented on #355
https://github.com/divio/djangocms-admin-style/issues/354

[2016-06-27 12:30] lory87 commented on #355
@vstoykov I merged the fixes to master.

[2016-06-27 12:30] #355 closed

[2016-06-27 12:31] lory87 commented on #354
@vstoykov I merged the fixes to master. Thank you for your feedback.

[2016-06-28 08:33] vstoykov opened #359 "Fix datetime fields when grouped inline"
When in admin you group fields like that:

    fields = (
        'field1',
        'field2',
        ('field3', 'field4'),
        'field5',
    )

Both `field3` and `field4` will be on the same row. The problem is when one of this fields is a datetime field because it is already split on two separate fields.

This is how it should look like:
![djangocms-admin-style-datetime-fixed](https://cloud.

[2016-06-28 08:47] vstoykov commented on #354
@lory87 The problem is not fixed.

After latest changes in master now it looks like this:
![djangocms-admin-style-tabular-still-broken](https://cloud.githubusercontent.com/assets/902381/16409375/dfebba8e-3d25-11e6-80ea-1ebb14807f9c.png)

And it probably should look something like this:
![djangocms-admin-style-tabular-fixed](https://cloud.githubusercontent.com/assets/902381/16409386/ebbfc95e-3d25-1

[2016-06-28 12:40] lory87 commented on #354
@vstoykov I fixed the select field width and merged the changes to master.

[2016-06-28 12:52] lory87 commented on #359
@vstoykov Thank you for reporting this issue. It is because of missing label wrapper on date and time text. I'm checking to solve this issue otherwise and will let you know when changes are merged to master.

[2016-06-28 13:11] vstoykov commented on #354
Thanks!

Nevertheless I think that this issue must be reopened because the main problem persists.

 In my last screenshot for how probably it need to looks like, I've showed similar look to django's own admin theme. String representation of the instance is above the fields not in line with them. In this case there will be enough space for the fields especially on smaller screens.

Changes that I'v

[2016-06-29 08:22] lory87 commented on #359
@vstoykov datetime fields are fixed and merged to master. I'm working now on fixes for related widget links.

[2016-06-29 11:34] lory87 commented on #359
@vstoykov issue about related widget wrapper links is fixed and merged to master. Thank you for your feedback and let us know if we can close this issue.

[2016-06-29 13:01] vstoykov commented on #359
Thanks @lory87 it is fixed now.

[2016-06-29 13:01] #359 closed

[2016-07-01 14:49] lory87 commented on #354
Hi @vstoykov
I aligned the table content on top. Textarea field height is reverted. Now it looks like on previous versions or without admin style. Thank you for your feedback.

[2016-07-01 15:02] vstoykov commented on #354
Thanks @lory87  tabular inlines looks better with vertical align top instead of middle.

One last thing is left (which was the reason to open the issue) the string representation of the instance is taking too much horizontal space. In the original django theme it is above  the fields. Now with vertical align top is easy to return the original `padding-top` from django's theme and move the `td.orig

[2016-07-01 15:25] vstoykov commented on #336
My suggestion about solving the issue with `!important` is just to remove it everywhere and all selectors to be prefixed with `.djangocms-admin-style`.
If the selector is the same as in django theme because of the extra class in front it will be stronger and will use the styles from `djangocms-admin-style`.

By this way all 3th parties can provide styles that will work only if `djangocms-admin-sty

[2016-07-02 09:34] vxsx commented on #336
@vstoykov that's part of the plan. Given that now there are css regression tests available, it will be easier to implement the changes. No ETA, but very soon :)

[2016-09-27 19:07] jbazik opened #372 "pattern selector for hiding related widget links is insufficiently selective"
In components/_forms.scss:

[code]

That has the unintended effect of hiding related model links for **any** field that just happens to have any of those words ('file', 'image', 'visual') in its name.  For instance, I have a foreignkey field named "images" in one of my models, which django makes into:

`<div class="form-row field-images">`

The css rules above match, and I get no "add another" lin

[2016-09-30 14:23] mikemcgowan opened #373 "Regression in 1.2.4 if not using django.core.context_processors.request"
The new template tag that was added in `templatetags/admin_style_tags.py` in 1.2.4 ...

[code]

... breaks Django projects that aren't using `django.core.context_processors.request`. This is a shame, because in 1.2.3 and earlier `djangocms-admin-style` didn't require `django.core.context_processors.request`. It seems a shame to introduce an unnecessary dependency.

The following changeset would fi

[2016-10-04 16:27] czpython commented on #373
Thanks for reporting.
We've fixed this in 1137aa1853bf9ceb8f0a88c2fefd306329c03c4e

[2016-10-04 16:27] #373 closed

[2016-10-12 14:34] vxsx commented on #354
I believe https://github.com/divio/djangocms-admin-style/pull/374 this one should finally fix the original issue

[2016-10-12 15:55] vxsx commented on #372
Should be fixed on latest master.

[2016-10-14 12:52] vstoykov commented on #354
I upgraded to 1.2.5 and removed my extra css styles related to this and now it looks ok. I'm closing the issue.

[2016-10-14 12:52] #354 closed

[2016-11-18 17:15] #372 closed

[2016-12-19 08:30] FinalAngel opened #383 "Fix new select5 widget"
https://github.com/divio/djangocms-link/pull/106

[2017-04-20 19:53] sobolevn opened #387 "compatibility with django-constance"
I have found a small issue with `django-constance`.

Here's how it looks now:
<img width="1272" alt="2017-04-20 22 49 44" src="https://cloud.githubusercontent.com/assets/4660275/25249743/ae1a5d50-261b-11e7-9c8e-c6efa5a13e5c.png">

It all happens because of these lines:

[code]

If I change it to:

[code]

It all starts to work fine:
<img width="1278" alt="2017-04-20 22 52 27" src="https://cloud.gi

[2017-04-21 08:35] FinalAngel commented on #387
@sobolevn thanks for the report. Would you be able to post the generated HTML by the application and targeted node where the issue occurs so we can apply a specific fix for django-constance?

[2017-04-21 08:57] sobolevn commented on #387
Sorry, I don't get the part with the node. What is `node` in this context?
No problems with `html` though.

[2017-04-21 09:01] FinalAngel commented on #387
@sobolevn the styling issue occurs on the following HTML-Node:

``.change-list #changelist table tbody td, .change-list #changelist table tbody th``

we need to target this specifically, as changing the no-wrap behaviour might affect other admin parts (as it's a huge beast), so we would need something like:

``.change-list #changelist .django_constance td.constance, .change-list #changelist .djang

[2017-04-21 09:27] sobolevn commented on #387
Here's gist with `html`: https://gist.github.com/sobolevn/2cbb83655b5b0c0040ff3a0dbb5d07dd

[2017-04-21 12:50] FinalAngel commented on #387
@sobolevn I'm not seeing the <tbody> there, is there something being done via javascript?

[2017-04-21 13:10] sobolevn commented on #387
I will check later.

[2017-05-28 01:19] jsoa opened #388 "Fieldsets / Inlines get lost in forms"
It become hard to navigate the form visually when using fieldsets and/or inlines

**normal admin**
![admin-02](https://cloud.githubusercontent.com/assets/23966/26525253/1e31a474-4320-11e7-8359-a061f252e660.png)

**admin-style**
![admin-01](https://cloud.githubusercontent.com/assets/23966/26525254/24fc71f8-4320-11e7-8206-7ca191789bc3.png)

would be nice to see something like this
![admin-04](https:

[2017-05-29 06:37] FinalAngel commented on #388
Hello @jsoa thank you for the report. Would you be able to provide us with the Django models code to replicate?

[2017-05-30 00:35] jsoa commented on #388
here is a general model/admin layout I used, the main things are..
- a `fieldset`,
- a `collapsed fieldset`
- an `inline`

**models**
[code]

**admin.py**
[code]

[2017-05-30 06:08] FinalAngel commented on #388
thank you @jsoa we'll have a look as soon as we can

[2017-08-07 12:40] rafalp opened #389 "Inputs in admin.StackedInline have small widths"
Text inputs become tiny when usimg StackedInline style for inline admin:

<img width="1068" alt="zrzut ekranu 2017-08-07 o 14 36 19" src="https://user-images.githubusercontent.com/750553/29026796-e49d648c-7b7d-11e7-8839-8c8d69c53a9a.png">

On sidenote, borders between inline forms in stacked inline should be visually more noticeable, like how default Django does them:

<img width="1388" alt="zrzut

[2017-08-07 13:02] rafalp commented on #389
Here's small experiment that IMHO greatly improves visual clarity of stacked inlines:

![zrzut ekranu 2017-08-07 o 15 00 42](https://user-images.githubusercontent.com/750553/29027534-5c713724-7b81-11e7-9a3c-85f313597943.png)

[2017-08-07 21:12] leetucker opened #390 "Use the standard Django CMS toolbar for admin pages"
In our project, we have quite a bit of functionality that staff users do directly in admin views, but as soon as they enter an admin site page, the standard Django CMS toolbar disappears.  Many users have found this confusing.

On a per-installation basis, it's possible to make all admin pages show the same toolbar as regular Django CMS pages by overriding templates/admin/inc/branding.html and tem

[2017-08-17 14:34] FinalAngel commented on #389
@rafalp we would welcome a pull request :)

[2017-08-17 16:20] FinalAngel commented on #390
@leetucker thank you very much for the request.

We see the confusion and issues though would like to point out that the admin should be loaded via the toolbar itself through "Site" > "Administration". I personally like to have a slightly different toolbar when going to "/admin" just to visualize that you are not in the "regular" django CMS zone.

We could consider having an option to enable such

[2017-08-17 21:29] rafalp commented on #389
I could try to cook the PR with styles change on the weekend, if I won't get distracted by something else ;)

[2017-08-18 08:05] FinalAngel commented on #389
@rafalp that would be awesome 👍

[2017-09-03 20:31] rafalp commented on #388
Just heads up as I'm working on resolution for this (at least with stacked inlines) in #391

[2017-09-04 09:35] FinalAngel commented on #388
@rafalp nice :)

[2018-02-08 10:25] kinkerl opened #393 "wrong admin help-text margin"
The help-text `margin-left` in the admin on a new django-cms installation is moved 160px to the right.
This is a change done between django 1.8 and 1.11 but it looks broken in the current with the djangocms-admin-styles.

![bug3](https://user-images.githubusercontent.com/71950/35967952-bd73020a-0cc2-11e8-92f4-397e95cd1fd2.png)

dj-database-url==0.4.2
Django==1.11.10
django-classy-tags==0.8.0
djang

[2018-02-13 09:37] metaforx commented on #393
yes. indeed. realised this in some of our recent project implementations as well, will definitely be fixed.

[2018-03-07 16:51] #393 closed

[2018-03-07 17:33] rafalp commented on #389
Closing this per PR merge, thanks!

[2018-03-07 17:33] #389 closed

[2018-10-17 07:53] macolo opened #539 "In a plugin's frontend editing modal, Django's DateField or DatetimeField datepicker is rendered outside the modal's visible area"
### Summary

- In a plugin's frontend editing modal, Django's DateField or DatetimeField datepicker is rendered outside the modal's visible area
- This is probably not a djangocms bug but related to the fact that django admin styling is not responsive for `django<2`.
- Nonetheless I recommend to keep this issue open as a reference for others that have the same problem.
- This happens regardless of

[2018-11-20 17:11] moubctez opened #400 "1.2.9 distfile contains .DS_Store files"
Please, remove all .DS_Store files from the distribution archive. :)

[2018-12-03 19:01] #400 closed

[2019-01-28 09:43] rayer4u opened #407 "Datetime in form show incrrect in modeladmin"
when A model has a datetime field with help_text, the cms-admin-style will show strange recently.
I think with or without help_text, the field should look as same, but  is not
![default](https://user-images.githubusercontent.com/5928318/51826875-11bdf500-2323-11e9-8d28-74c68fdc0787.png)

module version:
django==1.11.18 django-cms==3.5.3 djangocms-admin-style=1.2.9
django==2.1.5  django-cms==3.6.0r

[2019-01-30 19:58] thelittlebug opened #408 "admin.TabularInline, models.DateTimeField style problems"
![image](https://user-images.githubusercontent.com/2874956/52008582-335cdf00-24d1-11e9-8111-dfa3f0a14fec.png)

am i doing something wrong? im using djangocms-admin-style-1.3.0
disabling djangocms-admin-style introduces other visual bugs (i'm using django-cms)

[2019-01-31 07:05] FinalAngel commented on #408
@thelittlebug, we have not yet encountered such problems. What django CMS and Django Version are you using? Could you share your requirements file?

[2019-01-31 18:31] thelittlebug commented on #408
sure, here is my requirements.txt file:
[code]

[2019-02-01 21:12] thelittlebug commented on #408
some more information, maybe they are helpful.
i am using linux mint. i have disabled all browser plugins and extension. it looks differently wrong in different browsers:

vivaldi (based on webkit) 2.2.1388.37 (Stable channel) (64-bit)
![image](https://user-images.githubusercontent.com/2874956/52149693-dfd3c800-266d-11e9-84c3-812f935165a3.png)

chromium-browser Version 71.0.3578.98 (Official Build

[2019-02-19 14:55] cyber-dude commented on #408
+1
django==2.1.5
django-cms==3.6.0
I have same issue direct on the model admin forms, without any inlines.
Just .form-row > div > .form-box has no any "float" properties.

[2019-03-13 08:43] vThaian commented on #387
@sobolevn are you able to paste those generated HTML? (is quite old issue but maybe you fixed this or still have this issue waiting to resolve).

[2019-03-13 08:49] #388 closed

[2019-03-13 08:56] #383 closed

[2019-03-21 07:34] vThaian commented on #407
@rayer4u do you have this issue still?

[2019-05-10 09:21] rayer4u commented on #407
![image](https://user-images.githubusercontent.com/5928318/57516293-0a0ce400-7347-11e9-878b-e10394769b55.png)

With down module looks well.
module version:
django==2.2.1 django-cms==3.6.0 djangocms-admin-style=1.4.0

[2019-05-10 09:21] #407 closed

[2019-05-15 08:53] vasilty opened #410 ".readonly div and label overlap in the .aligned fieldset if the label is long"
Django==1.11.20
django-cms==3.6.0
djangocms-admin-style==1.4.0

If the label is too long in the `.aligned` fieldset, the `.readonly` value overlaps the label.

<img width="681" alt="Screen Shot 2019-05-15 at 11 41 37" src="https://user-images.githubusercontent.com/19282383/57761583-7c464580-7706-11e9-9438-c8d8cb0e9146.png">

I believe this is because the width of the label is set to `auto`, https:

[2019-07-12 21:31] techlover10 commented on #408
FWIW: I've been struggling with this issue myself, and I've finally found what I believe to be the issue.  See: https://github.com/django/django/commit/5d4d62bf4fe887fcd30f9f0449de07ae76ea5968#diff-2d163964c86d46ab97c2516908b3cdde

The issue is that Django renamed its field-box class to fieldBox, and this library didn't.  Because this library overrides everything in Django, and field-box is often

[2019-09-05 07:32] benzkji commented on #336
ETA ? ;-)

[2020-03-16 19:58] xmath279 commented on #408
I also have this issue. It would be really great not to have to override a template provided by Django itself...

[2020-08-04 10:27] archila1 opened #416 "unable to install..."
doing as in tutorial. step by step.  when it says python manage.py migrate, a get error.

any ideas?  i have python 3.8 and latest django 3.1

[2020-08-04 10:38] archila1 commented on #416
wrong link, sorry :/ had to go to djangocms installer...

[2020-08-04 10:38] #416 closed

[2020-08-10 12:43] #390 closed

[2020-08-10 12:44] #387 closed

[2020-08-21 07:36] FinalAngel commented on #336
I will close this now until someone wants to tackle this issue, it's not simple and requires a substantial rewrite.

[2020-08-21 07:36] #336 closed

[2020-08-21 07:36] #408 closed

[2020-08-21 07:36] #410 closed

[2020-09-03 10:22] carderm opened #419 "Nav-global block has gone"
Hi - the 'templates\admin\base_site.html` seems to have been reverted from having the Navglobal block to it being empty?
**Current:**
`{% block nav-global %}{% endblock %}`
**Previous:**
`{% block nav-global %}{{ block.super }}{% include 'admin/inc/nav-global.html' %}{% endblock %}`

Is there a reason for this? Should I redo my original pull request that added it?

Thanks

[2020-09-11 12:02] MichalPham opened #420 "readonly div and label overlap in admin"
In django admin if the label text is too long then it overlaps with the actual readonly value(see image). Its caused by having the label `width` set to `auto!important` rather than `160px` that is default for django the `readonly` class has `margin-left:170px` expoecting `160px` on the lhe left.
![Snímek z 2020-09-11 13-57-18](https://user-images.githubusercontent.com/55764996/92923174-4bc80600-f4

[2020-09-17 05:52] rayer4u opened #421 "The viewlink style is not working correctly"
The addlink,changelink style are override in djangocms-admin-style, but viewlink style is not. When django admin's has_change_permission function return false. the view button show not correct.
![1](https://user-images.githubusercontent.com/5928318/93425617-f1262280-f8ec-11ea-8aed-012b32f3ce4a.png)

[2020-09-28 10:56] NarenderRajuB commented on #421
I am also experiencing the same issue for viewlink

[2020-10-07 19:25] macolo opened #422 "'Sunday' column is cut off in date picker calendar on DateFields"
'Sunday' column is cut off in date picker calendar on DateFields

![image](https://user-images.githubusercontent.com/4056979/95378023-a001c100-08e3-11eb-9e7f-0e63e1029eba.png)

[2020-10-08 11:18] DmytroLitvinov opened #423 "Add 'django' and 'django-cms' as requirements into setup.py file"
Hi there,

Just because that package requires `django` and `djangocms`, I guess we need to add these packages as a requirement to [setup.py file](https://github.com/django-cms/djangocms-admin-style/blob/b11e87d6cb6765e449ce40e27a965ab43a1d8bbe/setup.py#L7).

[2020-10-28 13:11] #421 closed

[2020-12-08 22:55] fallenflint opened #429 "Color input width broken by djangocms-admin.css"
## Description

Input type=color seems to be broken by djangocms-admin.css
![image](https://user-images.githubusercontent.com/6457827/101520997-44f95280-3996-11eb-9091-05de605cd067.png)
I've got color picker without color inside. A little investigation shown that issue connected to css rule `width: auto` for
`button, input, select, textarea`. Disabling it fixes color input.

## Steps to reproduce

[2020-12-08 23:18] fallenflint opened #430 "Paginator width overlaps with filter bar when content container is too short"
Using filters I've got visual glitch with paginator bar.

![image](https://user-images.githubusercontent.com/6457827/101552833-97e9fe80-39c4-11eb-87aa-411f8de5ba47.png)

Reproduces on Chrome  87.0.4280.66, Linux

[2020-12-21 11:36] yakky opened #431 "Django 3.1+ sidebar issues in django CMS modals"
Django 3.1 sidebar is visible in most django cms modals (the one generated by the toolbars)

See examples below:

![Screenshot_20201221_123448](https://user-images.githubusercontent.com/714711/102773092-f3cf6280-4388-11eb-85d9-4528947331f8.png)

[2020-12-25 05:43] akshaymalik1995 opened #433 "Server Error 500 when opened on localhost and debug is set to False"
# The djangocms_admin_style is working fine when debug=True.

![image](https://user-images.githubusercontent.com/55041489/103121690-4a97ad80-46a3-11eb-9635-08767d5919f0.png)

# However when I set it to False, and open the admin panel , it gives me the  Server Error 500

![image](https://user-images.githubusercontent.com/55041489/103121644-1d4aff80-46a3-11eb-880a-9d3d09aa36c9.png)

[code]

[2021-02-11 08:02] CodePhilanthropist opened #434 "CommandError: App 'djangocms_admin_style' does not have migrations."
Hi, I installed djangocms_admin_style in a virtual environemnt but can't migrate it. I've done all the necessary steps.
My database is live via Heroku Postgres.

[2021-02-11 09:43] #434 closed

[2021-02-11 09:43] CodePhilanthropist commented on #434
Closing this issue, I found out that the problem in my AWS S3 bucket.

[2021-04-04 07:06] marksweb commented on #433
Hi, can you include the actual error that you see in the console (hopefully with the full traceback) please?

[2021-04-04 07:07] marksweb opened #435 "[feature] Switch to github actions"
Moving on from travis, to github actions.

[2021-04-06 08:36] #435 closed

[2021-05-07 12:19] VoIlAlex opened #438 "Disable dark theme"
I installed the package and in browsers with black theme enabled it displays table rows in dark colors. Is there a way to avoid this?
![image](https://user-images.githubusercontent.com/37738312/117448363-5182d680-af47-11eb-84e5-9f939520bb12.png)

[2021-05-22 17:45] DomicidalDesigns commented on #438
@VoIlAlex

I also saw this issue when django version 3.2 was installed but installing django 3.1 fixed it. Can you try installing django 3.1?
`python -m pip install -Iv django==3.1`

[2021-05-25 18:32] VoIlAlex commented on #438
Thanks for your reply. I'll try.

[2021-09-15 13:48] mike667 commented on #438
Hi, how to fix this issue with django 3.2? Thanks

[2021-09-23 14:13] greyhare commented on #438
IMHO the solution shouldn't be "disable dark theme" but instead "see how Django 3.2 uses dark theme and adjust our CSS to work with it."

[2021-11-08 18:46] worthwhile-gwarner opened #439 "djangocms-admin-style #nav-sidebar styles unreadable in dark mode"
## Description

Tested on Win 11 and macOS 11.6 in Firefox 95.0b4 and Edge 95.0.1020.44. Logging into Django admin and accessing a Pages section reveals the #nav-sidebar element and its child `tr` tags to be set with a background-color of `var(--body-bg)`, which inherits from `base.css` in Django admin (Django 3.2.6) where `@meda (prefers-color-scheme: dark)` sets the body bg to off-black. However

[2021-11-08 19:11] worthwhile-gwarner commented on #439
Ah, thank you @crydotsnake! 🙂 Apologies!

[2021-11-08 19:34] crydotsnake commented on #439
No problem ! 🙂

What is your version of the djangocms-admin-style package? Because I cannot reproduce the bug.

[2021-11-08 19:43] worthwhile-gwarner commented on #439
Current version in my piplock file is 2.0.2.

Sorry this appears to be a duplicate then of this outstanding issue: https://github.com/django-cms/djangocms-admin-style/issues/438

[2021-11-08 19:52] crydotsnake commented on #439
Okay, the same version that I use :)

Thanks anywhere for reporting it!

[2021-11-08 20:28] marksweb commented on #439
I think the dark mode came in with django 3.2.

The app hasn't been updated since some work for django 3.1 so it needs work to support the dark theme.

This is essentially the same as #438

[2021-11-20 13:53] zotizzmoy commented on #438
pip install django-light
Add 'django_light', to INSTALLED_APPS before django.contrib.admin

This python package solve my problem.

[2022-01-06 17:25] Aiky30 commented on #438
I agree, this should be fixed and not just disable it. There are some areas of complexity for this because this package uses scss and the django implementation is using native css variables. I'm not sure how we can get the two to play nicely together.

[2022-01-22 00:54] #433 closed

[2022-03-06 00:13] marksweb opened #444 "Gulp pipeline upgrade"
I've started to upgrade the gulp pipeline based on the upgrade made to django-cms itself which is now using node 16.

https://github.com/marksweb/djangocms-admin-style/tree/feat/node-upgrade

However here, there's a problem with webpack during bundling.

[code]

I'm not familiar with webpack, and not had a lot of time, so currently not progressed with this.

[2022-03-07 19:51] fsbraun commented on #439
This will be solved by #443

[2022-03-07 19:52] fsbraun commented on #438
This will be solved by #443

[2022-03-26 20:06] #438 closed

[2022-03-26 20:08] marksweb commented on #444
Fixed by #445 I think

[2022-03-26 20:08] #444 closed

[2022-03-26 20:18] marksweb opened #447 "Bumpversion isn't using brackets around the release date."
If you take a look at the [changelog](https://github.com/django-cms/djangocms-admin-style/blob/master/CHANGELOG.rst), the 3.0 release didn't have the date in brackets like the previous releases.

So first job, add brackets around that 3.0 release date.

Then the template used by bumpversion will need to be updated so that includes brackets around the date. You can see that line here; https://githu

[2022-03-26 23:55] #447 closed

[2022-04-05 07:57] petrklus opened #450 "Header box-shadow missing (CSS variables do not work in rgba)"
The box-shadow seems to be broken in 3.1.0:

![image](https://user-images.githubusercontent.com/1115667/161705402-61ee7166-8a89-4ffc-9e0f-1464f9f32393.png)

When inspecting, seems that the colour is not being picked up:

![image](https://user-images.githubusercontent.com/1115667/161705489-247a2cf6-a6ab-4e00-8ee6-425e51fe9aab.png)

While in 3.0.0, it is resolved into a colour:

![image](https://use

[2022-04-05 07:59] petrklus commented on #450
@fsbraun I belive the above is related to the dark mode introduction, which changed the simple black/white colours (which worked in rgba construct) to CSS variables, which do not seem to resolve.

Would you be up for a new PR/amending yours to fix the above?

[2022-04-05 09:03] fsbraun commented on #450
@petrklus I will look into it. Anyways, the shadows should have stayed black. Otherwise you'll get white shadows in dark mode which is strange. Will also check of other shadows might be affected. Thanks for pointing this out!

[2022-04-05 09:41] fsbraun commented on #439
@worthwhile-gwarner Dark mode works in version 3.1.

[2022-04-05 13:38] petrklus commented on #450
Thank you @fsbraun ! Will keep an eye on the PR and test once released.

[2022-04-06 09:52] petrklus commented on #431
I know this is not a direct solution but I've disabled the new app sidebar throughout my admin site via the following nippet:

    from django.contrib.admin import AdminSite

    class CNKAdminSite(AdminSite):
        site_header = 'Site administration'
        enable_nav_sidebar = False

    admin_site = CNKAdminSite(name='cnkadmin')

[2022-04-06 15:51] #450 closed

[2022-05-06 13:53] mogoh opened #456 "Editing HTML in Django CMS with Dark Mode enabled is almost impossible"
Hello.

Trying to edit the HTML of a page with the integrated CKEditor and Dark Mode enabled is basically impossible, because the Text is light gray on white. See screenshot.

![Screenshot 2022-05-06 at 15-31-34 Home - CERES - Ruhr-Universität Bochum](https://user-images.githubusercontent.com/580975/167146078-49bc5153-d952-4940-9b8a-327b936f2301.png)

![Screenshot_20220506_154410](https://user-ima

[2022-05-06 15:38] marksweb commented on #456
@fsbraun as our dark-mode expert, do we have a solution for this? I know I've seen it and just accepted it as is, but we are moving towards dark-mode support now.

[2022-05-06 18:18] #439 closed